/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
/bin
prob-data_full.clj
database.clj
comments.clj
.nrepl-port
raw-data.clj
raw_data.clj
infolog.pdf
infolog.dot
infolog_cli.sav
infolog_cli
*-init.clj
*.csv
resources/public/js/compiled
figwheel_server.log
database.edn
infolog.edn
indy.edn
